.debug-tree-components
    .debug-search-box
        %input{:type=>"search", :placeholder=>"Search", :name=>"name", :class=>"search-input", :id=>"search-input", :results=>"5", :autosave=>"brooklynEntity"}
    %div{:id=>"jstree", :class=>"jstree"}
