.portlet
    .portlet-header
        Locations
    .portlet-content
        %ul
            %li
                US-East-1
            %li
                US-West-1
            %li
                EU-West-1
