%html
	%head
		%meta{:name=>"layout",:content=>"basic"}\
		%g:javascript{:library=>"console/init-widgets"}/
	%body
		.layout-left-column
			%div{:id=>"demo1"}
		.layout-main-content="Here is the main content"
