<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    
     http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">
    <display-name>Brooklyn REST API v1</display-name>

    <filter>
        <filter-name>Brooklyn Request Tagging Filter</filter-name>
        <filter-class>org.apache.brooklyn.rest.filter.RequestTaggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Brooklyn Request Tagging Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Brooklyn Properties Authentication Filter</filter-name>
        <filter-class>org.apache.brooklyn.rest.filter.BrooklynPropertiesSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Brooklyn Properties Authentication Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Brooklyn Logging Filter</filter-name>
        <filter-class>org.apache.brooklyn.rest.filter.LoggingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Brooklyn Logging Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Brooklyn HA Master Filter</filter-name>
        <filter-class>org.apache.brooklyn.rest.filter.HaMasterCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Brooklyn HA Master Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Brooklyn REST is usually run as a filter so static content can be placed in a webapp
         to which this is added; to run as a servlet directly, replace the filter tags 
         below (after the comment) with the servlet tags (commented out immediately below),
         (and do the same for the matching tags at the bottom)
        <servlet>
            <servlet-name>Brooklyn REST API v1 Servlet</servlet-name>
            <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
     -->
    <servlet>
        <servlet-name>Brooklyn REST API v1 Filter</servlet-name>
        <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>

        <init-param>
            <param-name>jaxrs.serviceClasses</param-name>
            <param-value>
                org.apache.brooklyn.rest.resources.ActivityResource,
                org.apache.brooklyn.rest.resources.ApidocResource,
                org.apache.brooklyn.rest.resources.ApplicationResource,
                org.apache.brooklyn.rest.resources.CatalogResource,
                org.apache.brooklyn.rest.resources.EffectorResource,
                org.apache.brooklyn.rest.resources.EntityConfigResource,
                org.apache.brooklyn.rest.resources.EntityResource,
                org.apache.brooklyn.rest.resources.LocationResource,
                org.apache.brooklyn.rest.resources.PolicyConfigResource,
                org.apache.brooklyn.rest.resources.PolicyResource,
                org.apache.brooklyn.rest.resources.ScriptResource,
                org.apache.brooklyn.rest.resources.SensorResource,
                org.apache.brooklyn.rest.resources.UsageResource,
                org.apache.brooklyn.rest.resources.VersionResource
            </param-value>
        </init-param>
        
        <init-param>
            <param-name>jaxrs.providers</param-name>
            <param-value>
                io.swagger.jaxrs.listing.SwaggerSerializers,
                org.apache.brooklyn.rest.util.FormMapProvider,
                org.codehaus.jackson.jaxrs.JacksonJsonProvider
            </param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>Brooklyn REST API v1 Filter</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>
</web-app>
