.activity
    .tab-content-left-column
        %table{:id=>"activity-data"}
        #activityStatus
            %fieldset{:id=>"activityFieldset"}
                %legend Activity Status
                //just put a large text box in here
                %textarea{:id=>"logbox",:readonly=>"true",:wrap=>"hard"}
