.column
    .portlet
        .portlet-header
            Feeds
        .portlet-content
            #crazy
                %h1
                    Wow this is really cool
                %button
                    Click me lots
                %button
                    You wouldnt dare
            Here is some content
    .portlet
        .portlet-header
            News
        .portlet-content
            Here is some content
.column
    .portlet
        .portlet-header
            JustHere
        .portlet-content
            Here is some content
.column
    .portlet
        .portlet-header
            1
        .portlet-content
            Here is some content
    .portlet
        .portlet-header
            2
        .portlet-content
            Here is some content
    .portlet
        .portlet-header
            3
        .portlet-content
            Here is some content
