#dashboard-container
    .master-column-wrapper
        .widget-container
            .column{:class=>"medium-widget-column"}
                %g:render{:template=>"/widgets/circles"}
                %g:render{:template=>"/widgets/logger"}
        .widget-container
            .column{:class=>"small-widget-column"}
                %g:render{:template=>"/widgets/welcome"}
                %g:render{:template=>"/widgets/logger"}
                %g:render{:template=>"/widgets/locations-widget"}
                .portlet
                    .portlet-header
                        News
                    .portlet-content
                        Here is some content
            .column{:class=>"small-widget-column"}
                .portlet
                    .portlet-header
                        JustHere
                    .portlet-content
                        Here is some content
            .column{:class=>"small-widget-column"}
                .portlet
                    .portlet-header
                        Feeds
                    .portlet-content
                        Here is some content
                .portlet
                    .portlet-header
                        2
                    .portlet-content
                        Here is some content
                .portlet
                    .portlet-header
                        3
                    .portlet-content
                        Here is some content
