#dashboard-container
    .column
        %g:render{:template=>"/widgets/welcome"}
        .portlet
            .portlet-header
                News
            .portlet-content
                Here is some content
    .column
        .portlet
            .portlet-header
                JustHere
            .portlet-content
                Here is some content
    .column
        .portlet
            .portlet-header
                Feeds
            .portlet-content
                Here is some content
        .portlet
            .portlet-header
                2
            .portlet-content
                Here is some content
        .portlet
            .portlet-header
                3
            .portlet-content
                Here is some content
