.effector
    .tab-content-left-column
        %ul{:id=>"effectorList"}
            %li{:class=>"ui-widget-content"}
                Start
            %li{:class=>"ui-widget-content"}
                Stop
            %li{:class=>"ui-widget-content"}
                Restart
    .tab-content-right-column
        %fieldset
            %legend Invoke
            .effector-invoke
                Here is a list of invokable actions
                %ul
                    %li
                        Arg1
                        %button Go
                    %li
                        Arg2
                        %button Go
                    %li
                        Arg3
                        %button Go