.effector
    %fieldset{:class=>"tab-content-left-column"}
        %legend Select Effector
        %select{:size=>"10", :id=>"effectorList"}
    %fieldset{:class=>"tab-content-right-column"}
        %legend Invoke
        %label{:for=>"input1"} Arg1:
        %input{:id=>"input1"}
        %label{:for=>"input2"} Arg2:
        %input{:id=>"input2"}
        %label{:for=>"input3"} Arg3:
        %input{:id=>"input3"}
        %button Go
