.effector
    .tab-content-left-column
        Here is where we have a list of effectors
        .tab-content-list-container
            %table{:id=>"effector-list"}
        .tab-content-list-edit{:align=>"center"}
            %button +
            %button="-"
    .tab-content-right-column
        %fieldset
            %legend Invoke
            .effector-invoke
                Here is a list of invokable actions
                %ul
                    %li
                        Arg1
                        %button Go
                    %li
                        Arg2
                        %button Go
                    %li
                        Arg3
                        %button Go
        %fieldset
            %legend Execute
            .effector-execute
                Here is a list of executable tasks
                %ul
                    %li
                        Arg1
                        %button Go
                    %li
                        Arg2
                        %button Go
                    %li
                        Arg3
                        %button Go

