.effector
    .tab-content-left-column
        %table{:id=>"effector-data", :class=>"tab-content-table"}
    #args
        %form{:id=>"effector-invoke"}
            %fieldset{:id=>"effector-fieldset", :class=>"tab-content-right-column"}
                %legend Parameters
                #effector-args{:class=>"effector-args"}
                %input{:id=>"effectors-invoke-button", :type=>"submit", :value=>"Invoke"}
