.effector
	%fieldset{:class=>"tab-content-left-column"}
		%legend Select Effector
		%select{:size=>"15", :id=>"effectorList"}
	#args
		%fieldset{:id=>"effector-args", :class=>"tab-content-right-column"}
			%legend Parameters
			#effectorArgs
