
$fonts: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$text_color: #393939;

/* this green is approx what is in the logo (taken from image picker) */
$brooklyn_green: #6db34b;

$a_color: #483;
$a_hover_color: $brooklyn_green;

$code_bg_color: #e8eded;