/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/
/* KROME STYLES */
BODY {
    background-color: #e8e8e8 !important;
    color: #505050 !important;
}

textarea {
    white-space: pre;
    word-wrap: normal;
    overflow-x: scroll;
}

/* HEADER  */
.logo {
    height: 44px !important;
    width: 195px !important;
    background: url(../images/brooklyn-logo.png) no-repeat;
    margin-top: 50px;
    margin-left: 40px;
}

.navbar-inner {
    min-height: 105px !important;
    border-bottom: 2px solid #a9a9a9;
    background: #383737 url(../images/brooklyn-header-background.png)
        repeat-x top;
}

.menubar-top {
    padding-right: 0px !important
}

.userName-top {
    display: inline-block;
    vertical-align: bottom;
    float: right;
    text-align: bottom;
    font-weight:bold;
    font-size:15px;
    padding: 75px 10px 0 0;
}

.navbar .nav {
    margin-right: 0px !important;
}

.navbar .nav>li {
    margin: 35px 0px 0px 3px !important;
}

.navbar .nav>li>a {
    border: 1px solid #151515;
    padding: 8px 11px !important;
    font-size: 15px !important;
    background: url(../images/main-menu-tab.png) top !important;
}

.navbar .nav>li>a.active {
    background: url(../images/main-menu-tab-active.png) top !important;
    margin-top: 3px !important
}

.navbar .nav>li>a:hover {
    color: #FFF !important;
    background: url(../images/main-menu-tab-hover.png) top !important;
}

.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child
    {
    -webkit-border-top-left-radius: 13px !important;
    -moz-border-top-left-radius: 13px !important;
    border-top-left-radius: 13px !important;
    background-color: #f7f7f7 !important;
}

.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child
    {
    -webkit-border-top-right-radius: 13px !important;
    -moz-border-top-right-radius: 13px !important;
    border-top-right-radius: 13px !important;
    background-color: #f7f7f7 !important;
}

.table-condensed th {
    background-color: #f7f7f7;
    padding: 8px;
}

.table-bordered tr td {
    background-color: #f7f7f7;
    padding: 8px;
}

.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child
    {
    -webkit-border-top-right-radius: 0 0 0 13px !important;
    -moz-border-top-right-radius: 0 0 0 13px !important;
    border-bottom-left-radius: 13px;
}

.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child
    {
    -webkit-border-top-right-radius: 0 0 13px 0 !important;
    -moz-border-top-right-radius: 0 0 13px 0 !important;
    border-bottom-right-radius: 13px;
}
/*HOME BODY */

/*APP PAGE*/
.row-fluid .span4 {
    width: 300px !important;
    margin-left: 34px !important;
    margin-top: 10px !important
}

.row-fluid .span8 {
    width: 618px !important;
    margin-right: -26px !important;
    margin-top: 10px !important
}

.navbar_top {
    background-color: #f0f0f0 !important;
    -webkit-border-radius: 13px 13px 0 0 !important;
    -moz-border-radius: 13px 13px 0 0 !important;
    border-radius: 13px 13px 0 0 !important;
    border: 1px solid #d3d3d3;
    border-bottom: none;
}

.navbar_top  h3 {
    line-height: 24px !important;
}

.navbar_main_wrapper {
    background-color: #ffffff !important;
    -webkit-border-radius: 0 0 13px 13px !important;
    -moz-border-radius: 0 0 13px 13px !important;
    border-radius: 0 0 13px 13px !important;
    border: 1px solid #d3d3d3;
    border-top: 4px solid #e2e2e2;
}

.apps-tree-toolbar {
    float: right;
    margin: 0px !important;
    margin-top: -18px !important;
}

.icon-br-plus-sign {
    background: url(../images/application-icon-add.png) top left !important;
    width: 15px !important;
    height: 15px !important;
}

.icon-br-plus-sign:hover {
    background: url(../images/application-icon-add-hover.png) top left
        !important;
}

.icon-br-refresh {
    background: url(../images/application-icon-refresh.png) top left
        !important;
    width: 15px !important;
    height: 15px !important;
}
.icon-br-refresh:hover {
    background: url(../images/application-icon-refresh-hover.png) top left
        !important;
}

.table-toolbar-icon:hover {
    opacity: .7;
}

#details {
    background-color: #f0f0f0 !important;
    -webkit-border-radius: 13px 13px 13px 13px !important;
    -moz-border-radius: 13px 13px 13px 13px !important;
    border-radius: 13px 13px 13px 13px !important;
    border: 1px solid #d3d3d3;
    padding-top: 9px;
}

.tab-content {
    background-color: #ffffff !important;
    border: none !important;
    -webkit-border-radius: 0 0 13px 13px !important;
    -moz-border-radius: 0 0 13px 13px !important;
    border-radius: 0 0 13px 13px !important;
}

.nav-tabs {
    border-bottom: 4px solid #e2e2e2 !important;
}

.nav-tabs>.active>a,.nav-tabs>.active {
    color: #549e2b;
}

.nav-tabs>.active>a,.nav-tabs>.active a {
    background: #ffffff !important;
}

.nav-tabs .dropdown-menu li > a:hover,
.nav-tabs .dropdown-menu .active > a,
.nav-tabs .dropdown-menu .active > a:hover {
    color: white;
    background-color: #549e2b !important;
}

.nav-tabs>li>a {
    color: #444444 !important;
    border: 1px solid #dddddd !important;
    background: #ffffff url(../images/nav-tabs-background.png) top
        !important;
    padding-bottom: 7px !important;
    padding-top: 9px !important;
}

.nav-tabs>li>a:hover {
    color: #549e2b !important;
    background: #ffffff none !important;
}
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
    opacity: 0.5;
    margin-top: 6px;
    border-top-color: #000;
    border-bottom-color: #000;
}
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
    opacity: 0.8;
    border-top-color: #549e2b;
    border-bottom-color: #549e2b;
}

#advanced-summary button.btn {
    margin-left: 6px;
}
/*APP PAGE*/

/* END KROME STYLES */

.view_not_available {
    /*
    // nothing yet; idea is to put CSS here which will show a 'Not Available' message.
    // but it is hard to position it without assuming or introducing position-absolute on the parent.
    // probably need to mess with the hierarchy, or make such an assumption.
    // also there is the issue the (currently) the parent view has had opacity set to 0.2.
    // used in viewutils.js fade/cancelFade methods (and should be only those!)
    content: 'Not Available';
    */
}
