/* landing page */
.logo {
	display: inline-block;
	padding-top: 10px;
	float: left;
}

.menubar-top {
	display: inline-block;
	vertical-align: bottom;
	float: right;
	text-align: right;
	padding-top: 30px;
	padding-right: 60px;
}

#application-content {
	margin-top: 40px;
	margin-bottom: 40px;
}

/* menu bar */
.navbar .nav>li {
	display: block;
	float: left;
	list-style: none;
	margin: 15px 5px 0px 5px;
}

.navbar .nav>li>a:hover {
	background-color: #A8B8B0 !important;
	foreground-color: #261;
	color: #261;
	text-decoration: none;
    text-shadow: 0 0px 0;
}

.navbar .nav>li>a {
	background-color: #261;
	color: #F0F4E8;
	padding: 5px 7px 0px 7px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	line-height: 19px;
	text-decoration: none;
	text-shadow: 0 0px 0;
}
.navbar .nav > li > a.active {
	background-color: #492;
}

/* tabs eg catalog page */
.nav-tabs>li,.nav-pills>li {
	float: left;
	margin: 0px 1px -1px 1px;
}

.nav-tabs {
	border-bottom: 1px solid #DDD;
	padding-left: 8px;
}

.nav-tabs>li>a {
	padding-top: 5px;
	padding-bottom: 3px;
	line-height: 18px;
	border: 1px solid transparent;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

/* home page squares */
.home-summaries-row {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.roundedSummary {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #f7f6e8;
	padding: 20px 20px;
	margin: 20px 40px;
	width: 240px;
	height: 160px;
	line-height: 1.2;
	font-size: 140%;
	display: inline-block;
	text-align: left;
}

.roundedSummary:before { /* makes the summary vertically centered */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* adjusts for horiz spacing */
}

.roundedSummaryText {
	display: inline-block;
	vertical-align: middle;
}

.big {
	font-size: 180%;
}

.home-widgets-row {
	text-align: center;
}

.map-container {
	width: 45%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0px 20px;
}
.circles-map {
	height: 350px;
	border : 2px solid #909490;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}
.circles-map-message:before { /* makes the message vertically centered */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* adjusts for horiz spacing */
}
.circles-map-message {
	display: inline-block;
	width: 100%;
	height: 100%;
    color: #888;
    text-align: center;
    vertical-align: middle;
}

.apps-summary-container {
	width: 45%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0px 20px;
}
#new-application-resource {
	text-align: right;
}

/* general pages */
.sidebar_at_right {
	border-right: 4px solid #BBB;
}

.sidebar_at_left {
    border-left: 4px solid #BBB;
    margin-left: -4px !important;
    padding-left: 24px;
}

.nav-tabs {
	margin-bottom: 0px;
}
.tab-content {
	padding: 18px 12px 18px 12px;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
    min-height: 500px;
}
#tree-list {
}
ol.tree {
	padding: 0;
}
#tree-list li input + ol {
    background: url(../img/toggle-small-expand.png) 40px 5px no-repeat;
    margin: -1.963em 0 0 -40px; !important;
    padding: 1.563em 0 0 62px; !important;
}
#tree-list li input:checked + ol {
    background: url(../img/toggle-small.png) 40px 5px no-repeat;
}
#tree-list li input + ol > li {
    padding-left: 1px;
/*    margin: 0; */
}
#tree-list span.leaf {
    margin-left: 16px !important;
}
#tree-list li.application {
	margin-top: 6px !important;
}
#tree-list li input + ol {
    height: auto;
}
.navbar_top {
	background-color: #D0D8D0;
	padding: 8px 12px 12px 12px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.navbar_main_wrapper {
    background-color: #F0F4F0;
    padding: 12px 6px 4px 6px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.navbar_main {
	padding: 0px 8px 6px 2px;
	overflow-x: scroll;
	margin: 0;
}

.label-message {
	background-color: #DDD;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    padding: 4px 0px 4px 0px;
    margin-bottom: 4px;
    font-weight: bold;
} 
.label-important {
	display: inline;
	padding: 4px;
	color: #F0F0F0;
	font-weight: bold;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}
.label-important.full-width {
	display: block;
	text-align: center;
}

/** apps / entity explorer page */
.apps-tree-toolbar {
	text-align: right;
}
.entity_tree_node {
	color: #182018;
}
.handy {
	cursor: hand; cursor: pointer;
}
.entity_tree_node:hover {
	text-decoration: underline;
	cursor: hand; cursor: pointer;
}
.entity_tree_node.active {
    font-weight: bold;
}
#tree label {
/* remove the folder, and align with + - icons */
background: none;
padding-left: 16px;
line-height: 18px;
}
.cssninja ol.tree {
    padding: 0;
}
/* effector modal dialog */
#params td {
    vertical-align: middle;
}
#params input {
	margin-bottom: 0px;
}

table.dataTable tr.odd td.sorting_1 {
background-color: #F9F9F9;
}
table.dataTable tr.even td.sorting_1 {
background-color: #FFFFFF;
}
table.dataTable tr.odd {
background-color: #F9F9F9;
}
table.dataTable tr.even {
background-color: #FFFFFF;
}
table.dataTable thead th {
text-align: left;
}
table.dataTable {
margin: 0 auto 4px auto;
border-width: 0px 0px 1px 0px;
border-style: solid;
border-color: gray;
}

.dataTables_info {
	padding-top: 2px;
	padding-left: 6px;
    font-size: 85%;
    width: auto;
    align: center;
    clear: none;
}
.dataTables_paginate {
    font-size: 85%;
    float: right;
}
.dataTables_length {
    float: left;
    padding-left: 0.5em;
    padding-top: 1px;
}
.dataTables_length label {
    font-size: 85%;
}
.dataTables_length select {
    height: auto;
    font-size: 85%;
    margin-bottom: 0px;
    width: 45px;
}
.dataTables_paginate.paging_full_numbers a.paginate_button, 
.dataTables_paginate.paging_full_numbers a.paginate_active {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
padding: 2px 5px;
margin: 0;
}
.dataTables_filter input {
    background-image: url("../img/magnifying-glass-right.png");
    /* url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ5JREFUeNpi+P//PwMQMANxERCfAeI/UBrEZwbJQ9WAFR0A4u1AbAnEbFB6O1ScGaawGoi3wHQiYyBYDZKHKbwHxLo4FOqC5GEKf4Ksw6EQ5IyfIDYTkPEUiNUZsAOQ+F9GRkYJEKcFiDficSOIcRjE4QTiY0C8DuRbqAJLKP8/FP9kQArHUiA+jySJjA8w4LAS5KZd0MAHhaccQIABALsMiBZy4YLtAAAAAElFTkSuQmCC); */
    background-size:12px 12px;
    background-repeat: no-repeat;
    background-position: 8px 5px;
    width: 15em;
    font-size: 85%;
    padding: 1px 4px 1px 24px;
    margin-bottom: 2px;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.dataTables_wrapper .brook-db-top-toolbar {
	font-size: 85%;
	float: right;
	padding-right: 6px;
}
.dataTables_wrapper .brook-db-bot-toolbar {
    font-size: 85%;
    float: left;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 1px;
}
/* nonDatatables environments want to look a bit like our datatables environment */
table.nonDatatables {
    border-bottom: 1px solid gray;
}
table.nonDatatables thead {
    border-bottom: 1px solid black;
}
table.table.nonDatatables tbody > tr:first-child > td {
	/* need both bottom of head, and top of body, to support empty table and override non-empty row top border */
	border-top: 1px black solid;
}
/* we keep the thin gray line between rows for manual tables,
   subtle difference but seems nice */
div.for-empty-table {
    width: 100%;
    float: left;
    background-color: #F9F9F9;
    font-style: italic;
    padding: 8px 0px;
    text-align: center;
    margin-top: -18px;
    border-bottom: 1px solid gray;
}

/* add entity modal */
.editable-entity-group {
    margin-bottom: 2px;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.editable-entity-heading {
    padding: 2px 6px 2px 6px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: -1px;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #F9F9F9;
    line-height: 30px;
}
.editable-entity-heading:hover {
	background-color: #F0F4F0;
}
.editable-entity-body {
    border-top: 1px solid #E5E5E5;
    margin-top: -1px;
	padding: 7px 6px 2px 6px;
	overflow: hidden;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.step2-entity-config input {
    margin-bottom: 0px;	
}
.step2-entity-label-newline {
    padding-left: 2px;
    padding-bottom: 3px;	
}
.step2-entity-label {
    width: 4em;
    float: left;
    padding-top: 3px;
}
.step2-entity-input {
	width: 300px;
}
.step2-entity-config {
	margin-bottom: 9px;
	margin-top: 2px;
}
.step2-entity-config button {
	margin-left: 8px;
}
#add-app-entity {
	float: right;
}
/* help page */
#help-page p, #help-page ul {
	margin-top: 8px;
}
.help-logo-right {
	float: right;
}
.help-logo-right img {
	border: 3px solid #333030;
}
.control-group {
	margin-top: 6px;
	margin-bottom: 9px;
}


/* catalog */
.accordion-head {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 10px 4px 8px;
    font-weight: bold;
    background-color: #F4F6F4;
}
.accordion-head.active {
    background-color: #F8FAF8;
}
.accordion-body {
	border-top: 1px dashed lightgray;
    padding: 8px 8px 12px 8px;
    max-height: 350px;'
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: white;
}
.accordion-head:hover {
    background-color: #E0E4E0;
    cursor: hand; cursor: pointer;
}
.accordion-item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 9px -4px;
    border: 1px solid lightgray;
}
.accordion-nav-row:hover {
	text-decoration: underline;
	cursor: hand; cursor: pointer;
}
.accordion-nav-row.active {
    font-weight: bold;
}
.catalog-details h3 {
	margin-bottom: 8px;
}
.float-right {
	float: right;
}

/* swagger */
.swagger-ui-wrap {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.icon-btn {
	cursor: pointer;
}

#message-bar {
	min-height: 30px;
	text-align: center;
	padding-top: 10px;
}

.message-success {
	color: #89BF04;
}

.message-fail {
	color: #cc0000;
}