/**
 * Based on CSS Tree menu styles from CSS Ninja:  view-source:http://www.thecssninja.com/css/css-tree-menu
 */

.cssninja ol.tree {
    padding: 0 0 0 30px;
    width: 300px;
}

.cssninja li {
    position: relative;
    margin-left: -15px;
    list-style: none;
}

.cssninja li.file {
    margin-left: -1px !important;
}

.cssninja li.file a {
    /*background: url(../img/document.png) 0 0 no-repeat;*/
    /*color: #fff;*/
    padding-left: 21px;
    text-decoration: none;
    display: block;
}

.cssninja li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}

.cssninja li input + ol {
    background: url(../img/toggle-small-expand.png) 40px 0 no-repeat;
    /* original value - does not render fine with bootstrap.
    margin: -1.938em 0 0 -44px; *//* 15px */
    margin: -1.6em 0 0 -44px;
    height: 1em;
}

.cssninja li input + ol > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px;
}

.cssninja li label {
    background: url(../img/folder-horizontal.png) 15px 1px no-repeat;
    /*cursor: pointer;*/
    display: block;
    padding-left: 37px;
}

.cssninja li input:checked + ol {
    background: url(../img/toggle-small.png) 40px 5px no-repeat;
    /* original value - does not work with bootstrap
    margin: -1.25em 0 0 -44px; *//* 20px */
    margin: -1.963em 0 0 -44px;
    padding: 1.563em 0 0 80px;
    height: auto;
}

.cssninja li input:checked + ol > li {
    display: block;
    margin: 0 0 0.125em; /* 2px */
}

.cssninja li input:checked + ol > li:last-child {
    margin: 0 0 0.063em; /* 1px */
}