---
---

{% include base-scss.scss %}

/* BASIC STYLES
   ----------------------------------------------------------------------- */
body {
    margin: 0px; 
    padding: 10px 0px 20px 0px; 
    font-family: helvetica neue, helvetica, arial, sans-serif; 
    background-color: #ffffff; 
    color: $text_color; 
}
h1, h2, h3, h4, h5, h6 {}
input, select, textarea {}
p, li, label, td, th,input, select, textarea {}
p, input, label, li {}
p { margin: 0.75em 0; line-height: 1.4em;}
form {padding: 0; margin: 0;}
img {border: 0;}

a {color: $a_color;}
a:hover {text-decoration: none; color: $a_hover_color;}

/* Offset link anchors so they are not hidden by the header */
a[id]:empty, a[name]:empty {
    padding-top: 60px;
    margin-top: -60px;
    display: block;
}


/* WEBSITE MENUS
   ----------------------------------------------------------------------- */

/* top menu bar */
.navbar-brand {
    margin-top: -4px;
    margin-left: -30px !important;
}

@mixin icon($name) {
  .icon-#{$name} {
    width: 32px;
    height: 32px;
    background: url('{{ site.path.style }}/img/'+$name+'-256-black.png');
    background-size: 32px 32px;
  }
  .icon-#{$name}:hover {
    background: url('{{ site.path.style }}/img/'+$name+'-256-green.png');
    background-size: 32px 32px;
  }
}

.navbar {
    @include icon('github');
    @include icon('twitter');
    @include icon('irc');
}

/* special container with sidebar where if sidebar is squeezed
   (under "responsiveness") the text keeps at least its "auto" size,
   squashing the main container instead */
.container-and-sidebars {
  width: 100%;
  display: flex;
}
.container-between-sidebars {
  flex: 10 1 100%;
  display: inline-block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.container-sidebar {
  flex: 0 0 auto;
}
.container-sidebar-right { 
  @extend .container-sidebar; 
  text-align: left;
  padding-right: 10px;
} 
.container-sidebar-left {
  @extend .container-sidebar;
  text-align: right;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .container-sidebar { min-width: calc((100% - 750px)/2); }
}
@media (min-width: 992px) {
  .container-sidebar { min-width: calc((100% - 970px)/2); }
}
@media (min-width: 1200px) {
  .container-sidebar { min-width: calc((100% - 1170px)/2); }
}


.navbar-feather {
  padding-top: 12px; 
  margin-right: -6px;
}
.navbar-sidebar-right-icons {
    padding-top: 10px;
    margin-left: -6px;
    white-space: nowrap;
    a {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
}
.navbar-icon-shift { margin-right: -2px; }

.navbar div.dropdown_section_header hr {
  margin: 4px 12px;
  border-color: #ddd;
}

.navbar div.dropdown_new_section hr {
  margin: 6px 0px;
  border-color: #ddd;
}

/* pop-up top-menu */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

/* side menu */
.side-menu {
  h4.with_following {
    margin-bottom: 0;
  }
  h4.with_preceding {
    margin-top: 0;
  }
  h4.with_following a {
    border-bottom-right-radius: 0 !important ;
    border-bottom-left-radius: 0 !important ;
    border-bottom: 0;
  }
  h4.with_preceding a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
  }
  a, a.breadcrumb.breadcrumb0 { padding-left: 15px; }
  a.breadcrumb.breadcrumb1 { padding-left: 30px; }
  a.breadcrumb.breadcrumb2 { padding-left: 45px; }
  a.breadcrumb.breadcrumb3 { padding-left: 60px; }
  /* further crumbs all get the same */
  a.breadcrumb { padding-left: 70px; }
  
  div.sub-item {
    background-color: #48a648;
    border-left: 1px solid #428bca;
    /*
    border-bottom: 1px solid #428bca;
    border-top: 1px solid #428bca;
    border-right: 1px solid #428bca;
    */
    /*
    padding-bottom: 6px;
    padding-right: 6px;
    */
  } 
  div.sub-item:last-child {
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  div.sub-item:last-child a.sub-item:last-child {
    border-bottom-right-radius: 4px !important;
  }
  a.with-sub-item {
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 0;
  }
  a.sub-item { 
    border-radius: 0 !important;
    border-bottom: 0;
    margin-left: 12px;
    padding-left: 10px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
  }
}


/* FOOTER
   ----------------------------------------------------------------------- */

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 1200px) {
    .slightlyNarrowContainer {
        width: 970px;
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f5f5f5;
    text-align: center;
}


/* CODE RENDERING
   ----------------------------------------------------------------------- */
@mixin nowrap() {
    white-space: pre;
    word-wrap: normal;
    overflow-y: scroll;
}

pre {
    font-family: Consolas, Lucida Console, Monaco, monospace;
    @include nowrap();
    background-color:$code_bg_color;
    padding: 0.4em 0.8em;
    overflow-x: scroll;
    /* override border and line-height on 'pre' from bootstrap */
    border: none;
    border-radius: 2px;
    line-height: 1;
    code {
        /* override settings on 'pre code' from bootstrap */
        font-size: 85%; 
        line-height: 1;
        @include nowrap();
        /** and no padding since pre already has some */ 
        padding: 0px; 
    }
}
code {
    font-family: Consolas, Lucida Console, Monaco, monospace;
    font-size: 85%;
    /* override color and bg-color on 'code' from bootstrap, and a touch more padding on top since font-size is smaller */
    color: black;
    background-color:$code_bg_color;
    padding: 4px 4px 2px 4px;
    border-radius: 3px;
}
.highlight { background-color:$code_bg_color; } /* clipboard icon should have the same background color as the code */

.nowrap { @include nowrap(); }

/* LANDING PAGE
   ----------------------------------------------------------------------- */

#apachebrooklynbanner {
    background-image: url("../img/apache-brooklyn-logo-817px-wide.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 817px;
    height: 99px;
    margin-bottom: 50px;
}

@mixin flip() {
  transform: scaleX(-1);
  filter: FlipH;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-filter: "FlipH";
}

.flip {
  @include flip;
}