/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

@media (min-width: 1200px) {
    .slightlyNarrowContainer {
        width: 970px;
    }
}

.navbar-brand {
    margin-top: -4px;
    margin-left: -30px !important;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

#apachebrooklynbanner {
    background-image: url("../img/apache-brooklyn-logo-817px-wide.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 817px;
    height: 99px;
    margin-bottom: 50px;
}

#brooklynbridge {
    background-image: url("../img/bridge-large-no-title.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 342px;
    height: 242px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f5f5f5;
    text-align: center;
}
