<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    
     http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<included>

    <!--

        this file is a placeholder for contexts which wish to supply additional logging.
 
        simply create a file with this name on your classpath, 
        ensuring your project is first on the classpath,
        and the settings here and additional categories will be included.
        for example, you might wish debug logging for your packages:

    <logger name="com.acme.app" level="DEBUG"/>
 
        or to move the jclouds messages to a separate log file:

    <include resource="brooklyn/logback-logger-debug-jclouds.xml"/>

        in addition, two variables are used to define the log file name and dir;
        to set a different name or location, simply define the following (with the right values):
 
    <property name="logging.basename" scope="context" value="acme-app" />
    <property name="logging.dir" scope="context" value="./" />

      -->

</included>
