
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

  <div class="roundedSummary"><div class="roundedSummaryText">
    <span class="big" id="numApps"><%- apps.size() %></span> 
        app<%- apps.size()==1 ? "" : "s" %> running<br/>
    <!-- in <span class="big">3</span> locations<br/>
        with <span class="big">8</span> machines  -->
  </div></div>
  <!-- 
  <div class="roundedSummary"><div class="roundedSummaryText">
    <span class="big">6</span> app and <span class="big">44</span> entity<br/>
    templates available
  </div></div>
   -->
  <div class="roundedSummary"><div class="roundedSummaryText">
    <span class="big"><%- locations.size() %></span> location<%- locations.size()==1 ? "" : "s" %> configured<br/>
    <!-- with <span class="big">14</span> active machines  -->
  </div></div>

  <button class="roundedSummary addApplication" type="button">add application</button>
