<div class="catalog-details">

    <% if (model.get("name") !== undefined) { %>
        <h2><%= model.get("name") %></h2>
    <% } else if (model.get("type") !== undefined) { %>
        <h2><%= model.get("type") %></h2>
    <% } %>

    <dl>
        <% _.each(model.attributes, function(value, key) { %>
            <% if (value) { %>
                <dt><%= key %></dt>
                <% if (_.isObject(value)) { %>
                    <dd>Not shown: is a complex object</dd>
                <% } else { %>
                    <dd><%= value %></dd>
                <% } %>
            <% } %>
        <% }) %>
    </dl>

</div>
