#dashboard-container
    .master-column-wrapper
        .widget-container
            .column{:class=>"big-widget-column"}
                %g:render{:template=>"/widgets/circles"}
        .widget-container
            .column{:class=>"big-widget-column"}
                %g:render{:template=>"/widgets/recent-activity"}
        .widget-container
            .column{:class=>"small-widget-column"}
            .column{:class=>"small-widget-column"}
            .column{:class=>"small-widget-column"}
