<!-- modal to render effector-->

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Effector <%= name %></h3>

    <p><%= description %></p>
</div>

<div class="modal-body">
    <p>The effector does not accept parameters.</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-info btn-mini" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-danger btn-mini trigger-effector">Trigger</button>
</div>