<li>
    <% if (type == "leaf") { %>
    <span id="<%= id %>" class="name entity entity_tree_node" data-entity-type="<%= type %>" data-parent-app="<%= parentApp %>">
        <%= displayName %>
    </span>
    <% } else { %>
    <label><span id="<%= id %>" class="name entity entity_tree_node" data-entity-type="<%= type %>" data-parent-app="<%= parentApp %>">
        <%= displayName %>
    </span></label>
    <input type="checkbox" checked="true"/>
    <ol class="tree entities"/>
    <% } %>
</li>