<div class="activity-row-details<% if (!updateOnly) { %> hide<% } %>">
<% if (task == null) { %> <i>No information available</i> <% } else { %>
  <div style="float: right;" class="toolbar-row">
    <!--  <a class="handy icon-book toggleLog"></a> -->
    <i class="handy icon-folder-open toggleFullDetail"></i>
  </div>
  <div><b><i><%= task.description %></i></b></div>
  <div>
    <% if (task.startTimeUtc) { %>started <%= task.startTimeUtc %><% 
        if (task.submitTimeUtc != task.startTimeUtc) { %> (submitted <%= task.submitTimeUtc %>)<% } 
        if (task.endTimeUtc) { %>, finished <%= task.endTimeUtc %> 
        <% } else { %>, in progress
        <% } %>
    <% } else { %>
       submitted <%= task.submitTimeUtc %>, waiting
    <% } %>
    <% if (task.tags) { %>
        <br/>
        tags: <%= task.tags %>
    <% } %>
  </div>
<% } %>
</div>
