    <% if (task.startTimeUtc) { %>started <%= moment(task.startTimeUtc).fromNow() %><% 
        if (task.submitTimeUtc != task.startTimeUtc) { %> (submitted <%= moment(task.submitTimeUtc).from(task.startTimeUtc, true) %> earlier)<% } 
        if (task.endTimeUtc) { %>, finished after <%= moment(task.endTimeUtc).from(task.startTimeUtc, true) %> 
        <% } else { %>, in progress
        <% } %>
    <% } else { %>
       submitted <%= moment(task.submitTimeUtc).fromNow() %>, waiting
    <% } %>
