
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<!--effector param template -->
<tr class="effector-param" rel="tooltip" title="<%= description %></b><br><br><%= type %>" data-placement="left">
    <td class="param-name"><%= name %></td>
    <!-- TODO: for now this just looks at the name of the parameter which is poor (and @Beta !). 
    Better will be to use a strongly-typed LocationCollection or (significantly better) supply a generic 
    server-side mechanism for populating options in some situations. -->
    <% if (name == 'locations' || name == 'location') { %>
    <td><div id="selector-container" class="input-medium param-value"></div></td>
    <% } else { %>
    <td><!--  use 1 line textarea so it can be resized -->
      <textarea class="input-medium param-value" style="height: 18px;"><%- defaultValue %></textarea>
    </td>
    <% } %>    
</tr>
