<tr class="sensor-row">
    <td><span class="sensor-name" 
        rel="tooltip" title="<b><%= description %></b><br/>(<%= type %>)" data-placement="left"
        ><%= name %></span></td>
    <td class="sensor-actions">
        <% _.each(actions, function(v,k) {
            var text=k
            var icon=""
            var title=""
            if (k=="json") {
                icon="icon-file"
                title="JSON direct link"
            }
            if (k=="open") {
                icon="icon-home"
                title="Open URL"
            }
            if (icon!="") text=""
        %>
            <a href="<%= v %>" class="<%= icon %>" title="<%= title %>"><%= text %></a>
        <% }) %>
    </td>
    <td class="sensor-value"><%= value %></td>
</tr>
