<li class="<%= type %>">
    <% if (type != "leaf") { %> <label> <% } %>
      <span id="<%= id %>" class="name entity entity_tree_node<%
        if (type == "leaf") { %> leaf<% } 
        if (type == "application") { %> application<% } 
        %>" data-entity-type="<%= type %>" data-parent-app="<%= parentApp %>">
        <a href="#/v1/applications/<%= parentApp %>/entities/<%= id %>">
            <%= displayName %>
        </a>
    </span>
    <% if (type != "leaf") { %> </label> <% } %>
    <% if (type != "leaf") { %>
    <input type="checkbox" checked="true"/>
    <ol class="tree entities"/>
    <% } %>
</li>
