<included>
    
    <!-- schmizz (sshj) very noisy, profligate with errors, put to file only, at warn level -->
    <logger name="net.schmizz" level="WARN" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

    <!-- quite noisy at INFO, and uninteresting -->
    <logger name="org.eclipse.jetty" level="WARN"/>
    
    <!-- a bit noisy at INFO, but still, poss interesting; put to file only -->
    <logger name="org.reflections.Reflections" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.sun.jersey.server.impl.application" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.apache.whirr.service.ComputeCache" additivity="false">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="jclouds.ssh" additivity="false">
        <appender-ref ref="FILE" />
    </logger>

</included>
