<included>

    <!-- this file defines the default logging configuration for brooklyn projects,
         in a way which is intended to be friendly to downstream projects.
         
         downstream projects may be routed to this file in two situations:
         
         * running tests (via brooklyn-test-support)
         * dependency on `brooklyn-logback-xml` and running in IDE
         
         for an _assembly_ (i.e. a redistributable binary) a project must supply
         a logback.xml.  it can route to this file if they wish, or use some of
         the files referenced hereing, or ignore it altogether.  (the reason for
         this is that assemblies usually want to declare their own logging anyway.) 
    -->

    <include resource="brooklyn/logback-stdout.xml"/>
    <include resource="brooklyn/logback-file.xml"/>
    
    <include resource="brooklyn/logback-excludes.xml"/>
    
    <include resource="brooklyn/logback-debug.xml"/>

</included>
