<included>

    <logger name="brooklyn" level="DEBUG"/>
    
    <logger name="jclouds" level="DEBUG"/>
    <logger name="org.jclouds" level="DEBUG"/>
    <logger name="org.apache.whirr" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
  
</included>
