%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
	%head
		%title
			%g:layoutTitle{:default=>"JHEYS HAML TEST"}
		%g:javascript{:library=>"jquery/jquery"}\
		%g:javascript{:library=>"jquery/jquery.jstree"}\
		%g:javascript{:library=>"jquery/jquery.tools.min"}\
		%g:javascript{:library=>"console/tab-container-logic"}
		%link{:rel=>"shortcut icon",:href=>"${resource(dir:'images',file:'favicon.ico')}",:type=>"image/x-icon"}\
		%link{:rel=>"stylesheet",:type=>"text/css",:href=>"http://static.flowplayer.org/tools/css/tabs.css"}\
		%link{:rel=>"stylesheet",:type=>"text/css",:href=>"${resource(dir:'css/console',file:'console-layout.css')}"}\
		%link{:rel=>"stylesheet",:type=>"text/css",:href=>"${resource(dir:'css/console',file:'tab-container.css')}"}\
		%script{:type=>"text/javascript",:src=>"${resource(dir:'dynjs',file:'jsTreeConfig')}"}\
		%g:javascript{:library=>"console/jsTree"}\
		%g:javascript{:library=>"console/init-widgets"}\
		%g:layoutHead\
	%body{:onload=>"initTabs()"}
		%g:render{:template=>"/shared/banner"}
		%g:layoutBody/
		%g:render{:template=>"/shared/footer"}

