!!! 5
%html
    %head
        %title Brooklyn Webconsole - Circles
        %meta{:name=>"layout", :content=>"basic"}
        %script{:type=>"text/javascript", :src=>"http://maps.google.com/maps/api/js?sensor=false"}
        %g:javascript{:src=>"console/main.js"}
        %g:javascript{:src=>"console/circles.js"}
    %body
        %h1 Circles
        #circles-map