!!! 5
%html
%head
    %head
        %meta{:name=>"layout",:content=>"basic"}\
    %body{:onload=>"initTabs()"}
        .layout-middle-content
            .layout-left-column
                %div{:id=>"demo1"}
            .layout-main-content
                #tabs
                    %ul
                        %li
                            %a{:href=>"#summary"}Summary
                        %li
                            %a{:href=>"#location"}Location
                        %li
                            %a{:href=>"#health"}Health
                        %li
                            %a{:href=>"#structure"}Structure
                    #summary
                        %h3 Sensors
                        #sensors
                        %h3 Effectors
                        #effectors
                        %h3 Policies
                        #policies
                        %h3 Activity
                        #activity
                    #location
                        %h2 Location
                    #health
                        %h2 Health
                    #structure
                        %h2 Structure
