!!! 5
%html
    %head
        %title Brooklyn Webconsole - Dashboard
        %meta{:name=>"layout",:content=>"basic"}
        %script{:type=>"text/javascript",:src=>"${resource(dir:'dynjs',file:'jsTreeConfig')}"}
        %g:javascript{:src=>"console/jsTree.js"}
        %g:javascript{:src=>"jquery/jquery.corner.js"}
        %g:javascript{:src=>"jquery/jquery.jstree.js"}
    %body{:onload=>"initTabs()"}
        .layout-middle-content
            .layout-left-column
                %div{:id=>"searchBox"}
                    %input{:type=>'text', :placeholder=>"Search", :name=>'name', :id=>'searchInput', :onkeypress=>"Brooklyn.jsTree.loadJstree()"}
                %div{:id=>"demo1"}
            .layout-main-content
                #tabs
                    %ul
                        %li
                            %a{:href=>"#summary"}Summary
                        %li
                            %a{:href=>"#location"}Location
                        %li
                            %a{:href=>"#health"}Health
                        %li
                            %a{:href=>"#structure"}Structure
                    #summary
                        %h3 Sensors
                        #sensors
                        %h3 Effectors
                        #effectors
                        %h3 Policies
                        #policies
                        %h3 Activity
                        #activity
                    #location
                        %g:render{:template=>"/tabs/effectors"}
                    #health
                        %h2 Health
                    #structure
                        %h2 Structure
