!!! 5
%html
    %head
        %title Brooklyn Webconsole - Dashboard
        %meta{:name=>"layout",:content=>"basic"}
        %script{:type=>"text/javascript", :src=>"http://maps.google.com/maps/api/js?sensor=false"}
        %g:javascript{:src=>"console/main.js"}
        %g:javascript{:src=>"console/jsTree.js"}
        %g:javascript{:src=>"console/tabs.js"}
        %g:javascript{:src=>"console/effectors.js"}
        %g:javascript{:src=>"console/activity.js"}
        %g:javascript{:src=>"console/sensors.js"}
        %g:javascript{:src=>"console/location.js"}
        %g:javascript{:src=>"jquery/jquery.corner.js"}
        %g:javascript{:src=>"jquery/jquery.jstree.js"}
    %body
        #layout-middle-content
            .layout-left-column
                .search-box
                    %input{:type=>"search", :placeholder=>"Search", :name=>"name", :class=>"search-input", :id=>"search-input", :results=>"5", :autosave=>"brooklynEntity"}
                %div{:id=>"jstree", :class=>"jstree"}
            .layout-main-content
                #tabs
                    %ul
                        %li
                            %a{:href=>"#summary"}Summary
                        %li
                            %a{:href=>"#sensors"}Sensors
                        %li
                            %a{:href=>"#effectors"}Effectors
                        %li
                            %a{:href=>"#activity"}Activity
                        %li
                            %a{:href=>"#location"}Location
                        %li
                            %a{:href=>"#health"}Health
                        %li
                            %a{:href=>"#structure"}Structure
                    #summary
                        %h2 Summary
                    #sensors
                        %h2 Sensors
                        .tab-content-full-size
                            %table{:id=>"sensor-data", :class=>"tab-content-table"}
                    #effectors
                        %h2 Effectors
                        %g:render{:template=>"/tabs/effectors"}
                    #location
                        %h2 Location
                        %g:render{:template=>"/tabs/location"}
                    #activity
                        %h2 Activity
                        %g:render{:template=>"/tabs/activity"}
                    #health
                        %h2 Health
                    #structure
                        %h2 Structure
                    %p{:class=>"bottom-filler"} &nbsp;
                #status Last Update: <span id="status-message">No data yet.</span>
