%h4 Policies
%table{:id=>"policies-data",:class=>"tab-content-table"}
.policy-action-container
    %fieldset
        %legend
            Chosen Policy
        %input{:id=>"policy-action-execution-button", :type=>"button", :value=>"Execute"}
