<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    
     http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<included>

    <!--
     
        this file demonstrates how to customise logging, base on the placeholder 
        logging-custom.xml included in brooklyn-logging-includes.

    -->        
  
    <!-- include this category -->
    <logger name="brooklyn.demo" level="DEBUG"/>
    
    <!-- log to simple-web-cluster.log -->
    <property name="logging.basename" scope="context" value="brooklyn-simple-web-cluster" />

  <!--
  
       more customisation is possible by overriding the default-included
       configuration files, such as logback-main.xml (entirely replacing configuration),
       or e.g. brooklyn/logback-appender-file.xml (replacing the FILE logger config).
       
  -->

</included>
