<included>

    <!--
     
        this file demonstrates how to customise logging, base on the placeholder 
        logging-custom.xml included in brooklyn-logging-includes.

    -->        
  
    <!-- include this category -->
    <logger name="brooklyn.demo" level="DEBUG"/>
    
    <!-- log to simple-web-cluster.log -->
    <property name="logging.basename" scope="context" value="brooklyn-simple-web-cluster" />

  <!--
  
       more customisation is possible by overriding the default-included
       configuration files, such as logback-main.xml (entirely replacing configuration),
       or e.g. brooklyn/logback-appender-file.xml (replacing the FILE logger config).
       
  -->

</included>
