  <div class="roundedSummary"><div class="roundedSummaryText">
    <span class="big" id="numApps"><%- apps.size() %></span> 
        app<%- apps.size()==1 ? "" : "s" %> running<br/>
    <!-- in <span class="big">3</span> locations<br/>
        with <span class="big">8</span> machines  -->
  </div></div>
  <!-- 
  <div class="roundedSummary"><div class="roundedSummaryText">
    <span class="big">6</span> app and <span class="big">44</span> entity<br/>
    templates available
  </div></div>
   -->
  <span><div class="roundedSummary"><div class="roundedSummaryText">
    <span class="big"><%- locations.size() %></span> locations configured<br/>
    <!-- with <span class="big">14</span> active machines  -->
  </div></div></span>
