<included>
    <!--

        including this file after all other debug configuration will move all of the jclouds
        logging messages to a separate file, named 'brooklyn-application.jclouds.log'

      -->

    <!-- include jclouds log file appender -->
    <include resource="brooklyn/logback-appender-jclouds.xml"/>

    <!-- send jclouds logging categories to the file -->
    <logger name="org.jclouds" additivity="false">
        <appender-ref ref="JCLOUDS-FILE" />
    </logger>
    <logger name="jclouds" additivity="false">
        <appender-ref ref="JCLOUDS-FILE" />
    </logger>

</included>
