
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<div class="opened-row-details <% if (!updateOnly) { %> hide<% } %>">
<% if (task == null) { %> <i>No information available</i> <% } else { %>
  <div>
    <div class="expansion-header">
      <div style="float: right;" class="toolbar-row">
        <!--  <a class="handy icon-book toggleLog"></a> -->
        <a href="<%= link %>"><i class="handy icon-file showJson" rel="tooltip" title="JSON direct link"></i></a>
        <i class="handy icon-inbox toggleFullDetail" rel="tooltip" title="Show even more detail"></i>
        <i class="handy icon-chevron-right showDrillDown" rel="tooltip" title="Drill into sub-tasks"></i>
      </div>
      <b><i><span class="task-description"><%= task.description %></span></i></b>
    </div>
    <div class="expansion-main">
    </div>
    <div class="expansion-footer">
    </div>
  </div>
<% } %>
</div>
