[client]
port            = ${driver.port?c}
socket          = /tmp/mysql.sock.${entity.socketUid}.${driver.port?c}
user            = root
password        = ${entity.password}

# Here follows entries for some specific programs

# The MariaDB server, which (confusingly) uses MySQL terminology for backwards compatibility
[mysqld]
port            = ${driver.port?c}
socket          = /tmp/mysql.sock.${entity.socketUid}.${driver.port?c}
basedir         = ${driver.baseDir}
datadir         = ${driver.dataDir}
bind-address    = 0.0.0.0
# skip-networking

# Custom configuration options
${driver.mariaDbServerOptionsString}
