\#*\#
*~
*.bak
*.swp
*.swo
.DS_Store

atlassian-ide-plugin.xml
*.class

target/
test-output/

.project
.classpath
.settings/
.metadata/

.idea/
*.iml

nbactions.xml
nb-configuration.xml

prodDb.*

*.log
brooklyn*.log.*

*brooklyn-persisted-state/

ignored
