html {
     overflow: -moz-scrollbars-vertical;
     overflow-y: scroll;
}

body {
	font-family: verdana, arial, sans-serif;
}

pre {
 	font-family: 'Droid Sans Mono', sans-serif;
}
code {
 	font-family: 'Droid Sans Mono', sans-serif;
}

h2 {
	color: #185018;
}

/*Configuration for pygments syntax higlighting*/
div.highlight code.java span.err{
	/*Single quotes were being highlighted as errors, so just turn that off.*/
	border: none;
}