#page_header {
  text-align: left;
  height: 68px;

}

#sidebar_image {
	text-align: center;
}

#search_box{
	display: inline;
	text-align: right;
	clear: both;
	float: right;
	margin-top: 1.5em;
}

#header_logo {
  display: inline;
  padding: 0px 8px 0px 0px;
  
}

#header_title {
    display: block;
    font-weight: normal;
    margin: 42px 0px 0px 0px;
}

#all {
  width: 64em;
  height:100%;
  margin: 0 auto;
}

.page_row {
  width: 100%; 
  text-align: right;
  clear: both;
}

#page_content {
  width: 48em;
  float: left;
  text-align: left;
  padding: 0px 8px 0px 0px;
}

#page_toc {
  width: 14em;
  height: 100%;
  float: right;
  text-align: left;
  padding: 0px 8px 0px 8px;
}

#page_footer {
  font-size: 50%;
}

div.breadcrumbs {
	margin: 0px 0px 0px 2px;
}
.breadcrumbs a {
	text-decoration:none; 
}

h2 {
	/* font-weight: normal; */ 
	margin: 32px 0px 0px 0px;
}
