#page_header {
  text-align: left;
  height: 68px;

}

#sidebar_image {
	text-align: center;
}

#search_box{    
    display: inline;
	text-align: right;
	clear: both;
	float: right;
}
#search_box input { 
    border: 1px solid #909890;
    padding: 2px;
    font-family: Arial, Verdana;
}

#header_logo {
  display: inline;
  padding: 0px 8px 0px 0px;
  
}

#header_title {
    display: block;
    font-weight: normal;
    margin: 42px 0px 0px 0px;
}

#all {
  width: 64em;
  height:100%;
  margin: 0 auto;
}

.page_row {
  width: 100%; 
  text-align: right;
  clear: both;
}

#page_content {
  width: 48em;
  float: left;
  text-align: left;
  padding: 0px 8px 0px 0px;
}

#page_toc {
  width: 14em;
  height: 100%;
  float: right;
  text-align: left;
  padding: 0px 8px 0px 8px;
}

#header_logo {
  margin: 0px 0px 0px -7px;
}

#page_footer {
  font-size: 60%;
}

div.breadcrumbs {
	margin: 0px 0px 5px 2px;
	font-size: 75%;
}
div.breadcrumbs .bc1 { color: #505050 !important; }
div.breadcrumbs .bc2 { color: #586058 !important; }
div.breadcrumbs .bc3 { color: #606c60 !important; }
div.breadcrumbs .bc1 a:hover { color:#252 !important;; text-decoration:underline; }
div.breadcrumbs .bc2 a:hover { color:#252 !important;; text-decoration:underline; }
div.breadcrumbs .bc3 a:hover { color:#252 !important;; text-decoration:underline; }

.breadcrumbs a {
	text-decoration:none; 
}

h2 {
	/* font-weight: normal; */ 
	margin: 32px 0px 0px 0px;
}

div.breadcrumbs{
    display: inline;
    text-align: right;
    clear: both;
    float: right;
}

#top-right-quick-links a {
    color: #666; 
    font-size: 80%; 
    text-transform: uppercase; 
}
#top-right-quick-links a:hover {
    color: #182018;
    text-decoration: none; 
}

#topbar {
    background-color: #b8c0b8;
    width: 100%;
    height: 35px;
    margin: 6px 0px 12px 0px;
    border-width: 1px;
    border-radius: 9px;
    border-color: #80A080;
    border-style: solid;
    font-size: 90%;
}
#topbar a {
    padding: 4px 9px;
    margin: 2px 4px;
    color: #363;
    border-width: 1px;
    border-style: solid;
    border-color: #b8c0b8;
}
#topbar a:hover {
    border-color: #606460;
    background-color: #c8d0c8;
    color: #183018 !important;
    text-decoration: none;
}
#topbar a.toc-active {
	color: #505450;
}
	