/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/


#sidebar_toc { padding-top: 6px; }
#sidebar_toc a { text-decoration: none; }

#sidebar_toc div.toc-1 { padding: 8px; margin: 4px 0px 0px 0px; }
#sidebar_toc div.toc-1-item {text-transform: uppercase; font-size: 12px; color: #111111; margin: 15px 0 5px 0;}
#sidebar_toc div.toc-1-item.toc-1-header { margin: 0px 0px 2px 0px; }
#sidebar_toc div.toc-1-item:hover { color: #003800; }

#sidebar_toc div.toc-2-item { color: #282; padding-top: 3px; }
#sidebar_toc div.toc-2-item:hover { color: #010; }

#sidebar_toc div.toc-1.toc-active { background: #C6D0D8; border-radius: 5px; }
#sidebar_toc div.toc-1.toc-active div.toc-1-item { color: #222; }
#sidebar_toc div.toc-2.toc-active div.toc-2-item { font-weight: bold; }
#sidebar_toc div.toc-3.toc-active div.toc-3-item { font-weight: bold; }

/* level 3 menu is displayed in the list, indented, if parent is active */
#sidebar_toc div.toc-2.toc-active div.toc-2-children { margin: 2px 0px 3px 0px; } 
#sidebar_toc div.toc-2.toc-active div.toc-3-item { 
    padding: 1px 0px 1px 12px;
}
#sidebar_toc div.toc-2.toc-active div.toc-3-item:hover { color: #060; }

/* otherwise level 3 menu is popup */
#sidebar_toc div.toc-2:not(.toc-active) div.toc-3-item { color: #262; background: #C6D0D8;
    text-align: right; padding: 2px 6px 2px 6px;
    border-width: 1px; border-style: solid; border-radius: 0px; border-color: #464;
}
#sidebar_toc div.toc-2:not(.toc-active) div.toc-3-item:hover { color: #030; border-color: #353; background: #e8eded; }

#sidebar_toc div.toc-2:not(.toc-active) div.toc-2-children-popup { 
    display: none;
}
#sidebar_toc div.toc-2:not(.toc-active):hover div.toc-2-children-popup { 
    display: block;
    position: relative;
    height: 0px;
/*  right: -180px; to make appear at right */
    left: -180px;
    width: 180px;
    top: -17px;
}
#sidebar_toc div.toc-2:not(.toc-active) div.toc-2-children { 
    display: block;
    width: 160px;
    padding: 0px 10px 0px 10px;
}

/* old 
.ui-accordion { font-size: 90% }
.ui-accordion .left-menu-body {
	padding: 0;
	overflow:hidden;
}
.ui-accordion .toc1 { margin: 14px 0px 0px 0px; }

#sidebar_toc .toc1 { background: #f8f8f8; }
#sidebar_toc .toc2 { background: #f0f0f0; }
#sidebar_toc .toc3 { background: #e8e8e8; padding: 0px 0px 0px 20px; }

#sidebar_toc .ui-accordion-header-active { background: #d8d8d8; }

#sidebar_toc .toc-active { background: #68aa70; }
#sidebar_toc .toc-active a { color: #103010; }

#sidebar_toc .ui-state-hover { background: #c8d0c8; }
*/

