

#sidebar_toc { font-size: 90%; }
#sidebar_toc a { text-decoration: none; }

#sidebar_toc div.toc-1-item { color: #666; font-size: 95%; text-transform:uppercase; font-weight:bold; margin: 12px 0px 0px 0px; }
#sidebar_toc div.toc-1-item.toc-1-header { margin: 0px 0px 2px 0px; }
#sidebar_toc div.toc-1-item:hover { color: #020; }

#sidebar_toc div.toc-2-item { color: #282; }
#sidebar_toc div.toc-2-item:hover { color: #010; }

#sidebar_toc div.toc-1 { padding: 8px; margin: 4px 0px 0px 0px; }
#sidebar_toc div.toc-1.toc-active { background: #D0D8D8; border-radius: 5px; }
#sidebar_toc div.toc-1.toc-active div.toc-1-item { color: #222; }
#sidebar_toc div.toc-2.toc-active div.toc-2-item { font-weight: bold; }
#sidebar_toc div.toc-3.toc-active div.toc-3-item { font-weight: bold; }

/* level 3 menu is displayed in the list, indented, if parent is active */
#sidebar_toc div.toc-2.toc-active div.toc-2-children { margin: 2px 0px 3px 0px; } 
#sidebar_toc div.toc-2.toc-active div.toc-3-item { 
    padding: 0px 0px 0px 12px;
}
#sidebar_toc div.toc-2.toc-active div.toc-3-item:hover { color: #060; }

/* otherwise level 3 menu is popup */
#sidebar_toc div.toc-2:not(.toc-active) div.toc-3-item { color: #262; background: #B0B8B0;
    font-size: 98%;
    text-align: right; padding: 2px 6px 2px 6px;
    border-width: 2px; border-style: solid; border-radius: 3px;
}
#sidebar_toc div.toc-2:not(.toc-active) div.toc-3-item:hover { color: #030; background: #D0D8D8; }

#sidebar_toc div.toc-2:not(.toc-active) div.toc-2-children-popup { 
    display: none;
}
#sidebar_toc div.toc-2:not(.toc-active):hover div.toc-2-children-popup { 
    display: block;
    position: relative;
    height: 0px;
/*  right: -180px; to make appear at right */
    left: -180px;
    width: 180px;
    top: -17px;
}
#sidebar_toc div.toc-2:not(.toc-active) div.toc-2-children { 
    display: block;
    width: 160px;
    padding: 0px 10px 0px 10px;
}

/* old 
.ui-accordion { font-size: 90% }
.ui-accordion .left-menu-body {
	padding: 0;
	overflow:hidden;
}
.ui-accordion .toc1 { margin: 14px 0px 0px 0px; }

#sidebar_toc .toc1 { background: #f8f8f8; }
#sidebar_toc .toc2 { background: #f0f0f0; }
#sidebar_toc .toc3 { background: #e8e8e8; padding: 0px 0px 0px 20px; }

#sidebar_toc .ui-accordion-header-active { background: #d8d8d8; }

#sidebar_toc .toc-active { background: #68aa70; }
#sidebar_toc .toc-active a { color: #103010; }

#sidebar_toc .ui-state-hover { background: #c8d0c8; }
*/

