#navigation{:align=>"left"}
#subtabs
    %ul
        %li
            %a{:href=>"#summary"}Summary
        %li
            %a{:href=>"#sensors"}Sensors
        %li
            %a{:href=>"#effectors"}Effectors
        %li
            %a{:href=>"#activity"}Activity
        %li
            %a{:href=>"#location"}Location
    #summary
        #summary-basic-info
        #summary-status
        #summary-groups
        #summary-activity
    #sensors
        .sensor-table
            %table{:id=>"sensor-data", :class=>"tab-content-table"}
    #effectors
        %g:render{:template=>"detail-tabs/effectors"}
    #location
        %g:render{:template=>"detail-tabs/location"}
    #activity
        %g:render{:template=>"detail-tabs/activity"}
    %p{:class=>"bottom-filler"} &nbsp;
#status Last update: <span id="status-message">No data yet.</span>
