!!! 5
%html
    %head
        %title Brooklyn Webconsole - Detail
        %meta{:name=>"layout",:content=>"brooklyn"}
        %script{:type=>"text/javascript", :src=>"http://maps.google.com/maps/api/js?sensor=false"}
        %g:javascript{:src=>"jquery/jquery.jstree.js"}
        %g:javascript{:src=>"console/main.js"}
        %g:javascript{:src=>"console/util/brooklyn-util.js"}
        %g:javascript{:src=>"console/util/datatable-pagination.js"}
        %g:javascript{:src=>"console/detail-tab/jsTree.js"}
        %g:javascript{:src=>"console/detail-tab/tabs.js"}
        %g:javascript{:src=>"console/detail-tab/detail-tabs/summary.js"}
        %g:javascript{:src=>"console/detail-tab/detail-tabs/effectors.js"}
        %g:javascript{:src=>"console/detail-tab/detail-tabs/activity.js"}
        %g:javascript{:src=>"console/detail-tab/detail-tabs/sensors.js"}
        %g:javascript{:src=>"console/detail-tab/detail-tabs/location.js"}
        %g:javascript{:src=>"console/layout/brooklyn-console-layout.js"}
    %body{:style=>"height:100%;width:100%;"}
        .ui-tabs.ui-widget.ui-widget-content.ui-corner-all
            .brooklyn-header
            %div
                %ul{:class=>"ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all",:style=>"padding:1.2em 0em 0em 0em"}
                    %li{:class=>"ui-state-default ui-corner-top"}
                        %a{:href=>"../dashboard/"}Dashboard
                    %li{:class=>"ui-state-default ui-corner-top ui-tabs-selected ui-state-active"}
                        %a{:href=>"../detail/"}Detail
        #detail{:class=>"master-tab"}
            .ui-layout-west
                %g:render{:template=>"tree-components"}
            .ui-layout-center
                %g:render{:template=>"main"}

