.activity
    .tab-content-left-column
        .activity-table
            %table{:id=>"activity-data", :class=>"tab-content-table"}
        #activityStatus
            %fieldset{:id=>"activityFieldset"}
                %legend Activity Status
                //just put a large text box in here
                %textarea{:id=>"logbox",:readonly=>"true",:wrap=>"hard"}
.activity-bottom-buttons
    %a{:href=>"javascript:Brooklyn.activity.updateTasks();"}RELOAD
