%table{:id=>"policies-data",:class=>"tab-content-table"}
.policy-action-container
    %fieldset{:class=>"policy-details-container"}
        %legend{:id=>"chopol"}
            Chosen Policy
        #policyNameHeader
            %label{:class=>"policy-header-label"}
                %b
                    Policy Name
        #policyName{:class=>"policy-data-container"}
        #policyDescriptionHeader
            %label{:class=>"policy-header-label"}
                %b
                    Policy Description
        #policyDescription{:class=>"policy-data-container"}
        #policyControls{:align=>"left"}
            %select{:id=>"policyAction",:disabled=>"true"}
                %option{:value=>"default"}
                    Choose Action
                %option{:value=>"suspend"}
                    Suspend
                %option{:value=>"resume"}
                    Resume
                %option{:value=>"destroy"}
                    Destroy
            %input{:id=>"policy-action-execution-button", :type=>"button", :value=>"Execute", :disabled=>"true"}
