.sensor-table
    %table{:id=>"sensor-data", :class=>"tab-content-table"}
.sensor-bottom-buttons
    %a{:href=>"javascript:Brooklyn.sensors.updateSensors();"}RELOAD
    %a{:href=>"javascript:Brooklyn.sensors.toggleShowEmptySensors();"}FILTER
