/* GENERAL BODY */

html,body{
    height:100%;
    width:100%;
    padding: 0px;
    overflow:auto;
}

body{
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:11px;
    width: 100%;
    height: 100%;
}

.master-tab{
    left:0px;
    right:0px;
    bottom:0px;
    top:50px;
    padding:0px;
    position:absolute;
}

#dashboard{
    padding:0px;
}

#detail{
    padding:0px;
}

.brooklyn-header{
    height:46px;
    padding-left:192px;
    background-image:url("../../images/brooklyn/brooklynbannertwo.png");
    background-repeat: no-repeat;
    top:0px;
    left:0px;
    margin:0px;
    float:left;
}

li.master-filler-tab{
    top:13px;
    width:200px;
}

ul.master-tabs-container{
    height:42px;
}

li.master-tabs-tab{
    top:13px !important;
}

li#master-filler-tab{
    top:13px;
    width:200px;
}

.outer-layout-container{
    padding:0px !important;
    height: auto !important;
    min-height:100%;
    position:relative;
    width:100%;
}

/* TEMPLATE LAYOUT CONTAINERS */

.debug-tree-components{
    height:100%;
    width:100%;
}

div#navigation{
    padding: 5px;
    background:#deedf7;
    font-weight: bold;
}

div#navigation li  a {
    white-space: nowrap;
    color: #0000ff;
}

div#navigation li {
    display: inline;
}

div#navigation li:after {
    content: " > ";
}

div#navigation li:last-child {
    white-space: nowrap;
}

div#navigation li:last-child:after {
    content: "";
}

.debug-search-box {
    margin-bottom: 3px;
}

.search-input {
    width: 90%;
    background-image: url("../../images/brooklyn/magnifying-glass.gif");
    background-repeat:no-repeat;
    padding-left:20px;
}

.jstree {
    overflow:auto;
    height:90%;
    padding:3px;
    margin-bottom:3px;
    width:100%;
}
/* DETAIL TABS CSS */
.tab-content-left-column {
    clear: left;
    float: left;
    width: 100%;
    height:100%;
    border:1px solid #CCCCCC;
}

.tab-content-right-column {
    clear: right;
    float: left;
    width: 300px;
    height:100%;
    border:1px solid #CCCCCC;
}

.tab-content-mini-column {
    float: left;
    width: 200px;
    height:100%;
    border:1px solid #CCCCCC;
}

.tab-content-buttons{
     border:1px solid #CCCCCC;
}

table, th, td {
    border: 2px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 0.2em;
    text-align: left;
}

ul {
  margin-left: 1em;
}

.bottom-filler {
    clear: both;
    width:100%;
    height:100%;
}

h2 {
    clear: both;
    margin-bottom: 0.5em;
}

select {
    margin: 5%;
    width: 90%;
}

fieldset {
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top:5px;
    margin-left:5px;
    border:1px solid #CCCCCC;
}

fieldset label {
    text-align:right;
    width:70px;
    float:left;
    padding:0.2em;
    margin:0;
    margin-top:0.3em;
}

fieldset legend {
    padding:2px 5px;
}

textarea#logbox{
    height:250px;
    width:99%;
    resize: none;
}
.map-container{
    height:500px;
    width:70%;
    float:left;
    margin-left: 10px;
}
#map-canvas{
    float:left;
    width:400px;
}

.dataTables_info {
    padding: 2px;
    font-size: 10px;
}

.dataTables_filter {
    width: 180px;
    padding: 2px;
}

.dataTables_filter input {
    width: 90%;
    background-image: url("../../images/brooklyn/magnifying-glass.gif");
    background-repeat:no-repeat;
    padding-left:20px;
}

.DataTables_sort_icon {
    cursor:pointer;
}

.tab-content-table {
    width:100%;
}

.tab-content-table tbody tr:hover {
    cursor:pointer; background-color: #E0E0E0;
}

.DataTables_sort_icon {
    float: right;
}

/* TODO remove this when we respond to clicking on a sensor */
#sensors .tab-content-table tbody tr:hover {
    cursor:text;
}

.row_selected {
    background-color: #cccccc;
}

.effector-args p {
    padding: 5px;
}

.effector-args div {
    clear: both;
    width: 100%;
}

#summary-basic-info {
    float: left;
    margin-bottom: 1em;
}

#summary-status {
    float: right;
    margin-right: 130px;
}

#summary-groups {
    float: left;
    clear: left;
    margin-bottom: 1em;
}

#summary-activity {
    float: right;
    margin-right: 116px;
}

#summary ul {
    list-style-type: none;
}

#summary h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.label {
    font-weight: bold;
}

#activityFieldset {
    width: 99%;
}

#effector-fieldset {
    width: 100%;
    margin-left: -3px;
}

.effector-args{
    height:100%;
    width:70%;
    float:left;
    margin-left: 10px;
}

.activity-table {
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;
}

.sensor-table {
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

.mapbox dl {
    padding-bottom: 3px;
}

.mapbox dt {
    float:left;
    clear:left;
    font-weight: bold;
    padding-right: 5px;
}

.mapbox dt:after {
    content: ":";
}