/* GENERAL BODY */

html,body{
    height:100%;
}

body{
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    font-size:11px;
    width: 980px;
    height: 100%;
}

/* TEMPLATE LAYOUT CONTAINERS */

#console-header {
    position:absolute;
    top:0;
    background:#c0c0c0;
    border-width:medium;
    border-bottom:solid;
    height:75px;
    width: 980px;
}

h1#brooklyn-header{
    height:100%;
    width:175px;
    background-image:url("../../images/brooklyn/brooklynbannerone.png");
}

#layout-middle-content{
    position:absolute;
    top:78px;
    clear: both;
    bottom:2.3em;
    overflow:hidden;
    width: 980px;
}

#console-footer{
    position:absolute;
    bottom:0;
    background-color:#f7f7f7;
    height:2.3em;
    border-width:medium;
    border-top:solid;
    clear: both;
    width: 980px;
}

.layout-left-column{
    float: left;
    border-right:solid;
    border-width:medium;
    height:100%;
    width: 220px;
}

.layout-main-content{
    background-color:white;
    float: right;
    clear: right;
    overflow: hidden;
    padding: 5px;
    width: 745px;
}

.search-box {
    margin-bottom: 3px;
    padding: 5px;
    padding-right: 8px;
    height:5%;
}

.search-input {
    width: 90%;
    background-image: url("../../images/brooklyn/magnifying-glass.gif");
    background-repeat:no-repeat;
    padding-left:20px;
}

.jstree {
    overflow:auto;
    height:90%;
    padding:3px;
    margin-bottom:3px;
}

.tab-content-left-column {
    clear: left;
    float: left;
    width: 300px;
    height:100%;
    border:1px solid #CCCCCC;
}

.tab-content-right-column {
    clear: right;
    float: left;
    width: 300px;
    height:100%;
    border:1px solid #CCCCCC;
}

.tab-content-mini-column {
    float: left;
    width: 200px;
    height:100%;
    border:1px solid #CCCCCC;
}

.tab-content-full-size {
    width: 700px;
}

.tab-content-buttons{
     border:1px solid #CCCCCC;
}

table, th, td {
    border: 2px solid #ccc;
    border-collapse: collapse;
}

th, td {
    padding: 0.2em;
    text-align: left;
}

ul {
  margin-left: 1em;
}

.bottom-filler {
    clear: both;
    width:100%;
    height:100%;
}

h2 {
    clear: both;
    margin-bottom: 0.5em;
}

select {
    margin: 5%;
    width: 90%;
}

fieldset {
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top:5px;
    margin-left:5px;
    border:1px solid #CCCCCC;
}

fieldset label {
    text-align:right;
    width:70px;
    float:left;
    padding:0.2em;
    margin:0;
    margin-top:0.3em;
}

fieldset legend {
    padding:2px 5px;
}

textarea#logbox{
    height:250px;
    width:100%;
    background:black;
    color:green;
}
.map-container{
    height:500px;
    width:450px;
    float:left;
}
#map-canvas{
    float:left;
    width:400px;
}

.dataTables_info {
    padding: 2px;
    font-size: 10px;
}

.dataTables_filter {
    width: 200px;
    padding: 2px;
}

.dataTables_filter input {
    width: 90%;
    background-image: url("../../images/brooklyn/magnifying-glass.gif");
    background-repeat:no-repeat;
    padding-left:20px;
}

.tab-content-table {
    width:100%;
}

.row_selected {
    background-color: #888888;
}

.effector-args p {
    padding: 5px;
}

.effector-args div {
    clear: both;
    width: 100%;
}

#summary-basic-info {
    float: left;
    margin-bottom: 1em;
}

#summary-status {
    float: right;
    margin-right: 130px;
}

#summary-groups {
    float: left;
    clear: left;
    margin-bottom: 1em;
}

#summary-activity {
    float: right;
    margin-right: 116px;
}

#summary ul {
    list-style-type: none;
}

#summary h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.label {
    font-weight: bold;
}

