/* GENERAL BODY */

html,body{
	height:100%;
}

body{
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
}

/* TEMPLATE LAYOUT CONTAINERS */

.layout-header{
	position:absolute;
	top:0;
	background:#c0c0c0;
	height:125px;
	border-width:medium;
	border-bottom:solid;
	width:100%
}
.layout-middle-content{
	position:absolute;
	top:128px;
	bottom:2.3em;
	overflow:hidden;
	width:100%;

}
.layout-footer{
	position:absolute;
	background-color:#f7f7f7;
	height:2.3em;
	border-width:medium;
	border-top:solid;
	clear: both;
	width:100%;
	bottom:0;
}

.layout-left-column{
	float: left;
	width: 270px;
	height:100%;
	border-right:solid;
	border-width:medium;
}

.layout-main-content{
	background-color:white;
    float: left;
	margin-right:2px;
}

#searchBox{
    margin-bottom: 3px;
    padding: 3px;
    height:5%;
}

#searchInput{
    width: 92%;
    background-image: url("../../images/brooklyn/magnifying-glass.gif");
    background-repeat:no-repeat;
    padding-left:20px;
}

div#demo1{
	overflow:auto;
	height:90%;
    padding:3px;
    margin-bottom:3px;
}

h1#brooklyn-header{
	height:100%;
	width:250px;
	background-image:url("../../images/brooklyn/brooklynbannerone.png");
}

.effector-left-column{
    float: left;
    width: 300px;
    height:100%;
    border:1px solid #CCCCCC;
}
.effector-main-content{
    float:left;
    height:100%;
    border:1px solid #CCCCCC;
}
.effector-buttons{
     border:1px solid #CCCCCC;
}

fieldset{
    display:block;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top:5px;
    margin-left:5px;
    border:1px solid #CCCCCC;
}

legend{
    padding:2px 5px;
}

