<!-- Template for rendering a single location in the table-->
<td style="text-align: center; vertical-align: middle"><%-provider%></td>
<td style="padding:0;">
    <% if ( _.keys(config).length > 0) {%>
    <table class="table table-striped table-condensed" style="padding:0; margin:0;">
        <thead>
        <th>Key</th>
        <th>Value</th>
        </thead>
        <tbody>
        <% _.each(config, function(value, key){ %>
        <tr>
            <td style="border-left:none; width:50%;"><%- key%></td>
            <td><%- value%></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <% } %>
</td>
<td style="text-align:center; vertical-align:middle;">
    <button id="<%= id %>" class="btn btn-danger delete-location">Delete</button>
</td>