/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
*/
.poweredLogo{
	width:150px;
	height:28px;
	float:right;
	margin: 20px 20px;
	content:url("/assets/mobile/images/Powered-by-Cloudsoft-AMP-Logo-on-blue.png");
}

.navbar-absolute-bottom{
	border-top-width: 0px;
}

.navbar-app{
	color:#419641;
}
.list-group-item a{
	color:#666;
}

.navbar-app .btn, .navbar-app .btn-navbar{
	color:#777;
}

.sidebar-left{
	background: none repeat scroll 0 0 #555;
}

.navbar-footer{
	background: none repeat scroll 0 0 #555;
}

.list-group-item span, .list-group-item h4, .navbar-brand span, .panel-body .panel h4{
	white-space: nowrap;
	/*width: 100%;*/
	overflow: hidden;              /* "overflow" value must be different from "visible" */
	text-overflow: ellipsis;
}

.panel-heading .btn-navbar:last-child{
	padding:0px 0px 6px 12px;
}

.entityListHeader {
	padding: 10px 0px 40px 0px;
}

.entityListHeader .navbar-brand-center {
	margin: 0px 35px;
}
.navbar-brand{
	padding:15px 30px !important;
}

.wrapword{
	word-wrap: break-word;
}