<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>brooklyn.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d %-5level %logger{30} [%thread{15}]: %msg%n</pattern>
    </encoder>
  </appender>

  <include resource="brooklyn/logback-stdout.xml"/>

  <include resource="brooklyn/logback-excludes.xml"/>
  <include resource="brooklyn/logback-debug.xml"/>

</configuration>
